extends layout
block head
	title ShitHead card game
	
	meta(name='description', content='Play a game of Shithead against friends')

block scripts
	script(src="/js/game.js")

block content
	h1= title
	p Welcome to #{title}

	div#board
	