
<h2>Welcome to Ember.js from a compiled template - index.hbs</h2>

<div class="row">
	<div class="span12">
Hello, <strong>{{model.firstName}} {{model.lastName}}</strong>!
<p>I have changed the template, it should compile with grunt</p>


<ul>
{{#each item in model.colors}}
    <li>{{item}}</li>
{{/each}}
 </ul>

</div>
</div>
